body {
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header"
        "nav main main"
        "footer footer footer";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}