body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 10px;
    background-color: #d3f0f5;
}

h1 {
    font-size: 30px;
    color: #197a8b;
}

p {
    font-size: 16px;
    color: #333333;
}


